In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [68]:
objects = ["full_bottle", "empty_bottle", "full_can", "empty_can", "wood_brick", "plastic_brick", "hard_ball", "no_pressure_tennis_ball"]

In [67]:
for name in objects:
    df = pd.read_csv("Data from gripper/"+name+".csv")
    df_notime = df.drop(columns=["Time"])
    values=pd.DataFrame(columns = df_notime.columns)
    flag=0
    count=0
    last_update = df[df.index==0]
    for i in range(len(df)):
        if df_notime.mean(axis=1)[i]!=0:
            flag=1
            possible = df[df.index==i]
            pos_index = i
            count=0
        # elif len(values)>=100:
        #     pass
        elif np.array(possible.Time)-np.array(last_update.Time)<0:
            last_update = df[df.index==i]
        # elif flag==1 and df_notime.mean(axis=1)[i]==0 and np.array(possible.Time)-np.array(last_update.Time)>2: 
        elif flag==1 and df_notime.mean(axis=1)[i]==0 and count>=15 and np.array(possible.Time)-np.array(last_update.Time)>2: 
            #I will have to rethink about the time distance betweeen each measure. maybe depending on the measured object
            flag=0
            values = pd.concat([values, df_notime[df_notime.index==pos_index]])
            last_update=possible
        elif df_notime.mean(axis=1)[i]==0:
            count+=1
    locals()["values_"+name]=values.copy()
            
    #values.to_excel("Dataset.xlsx", sheet_name=name)

In [69]:
values_full_bottle

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14
79,0.0,0.0,0.648,0.0,0.139,0.191,0.000,0.0,0.0,0.569,0.320,0.688,0.249,0.000
147,0.0,0.0,0.000,0.0,0.254,0.175,0.287,0.0,0.0,0.000,0.000,0.568,0.143,0.601
223,0.0,0.0,0.000,0.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.750
298,0.0,0.0,0.894,0.0,0.000,0.000,0.000,0.0,0.0,0.834,0.741,0.253,0.000,0.000
370,0.0,0.0,0.540,0.0,0.289,0.185,0.000,0.0,0.0,0.590,0.267,0.813,0.160,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7502,0.0,0.0,0.000,0.0,0.000,0.000,0.000,0.0,0.0,0.075,0.000,0.939,0.318,0.075
7574,0.0,0.0,0.000,0.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.051,0.000,0.000
7645,0.0,0.0,0.130,0.0,0.356,0.278,0.000,0.0,0.0,0.359,0.000,0.846,0.304,0.000
7736,0.0,0.0,0.000,0.0,0.331,0.323,0.050,0.0,0.0,0.000,0.000,0.982,0.310,0.171
7813,0.0,0.0,0.461,0.0,0.246,0.225,0.000,0.0,0.0,0.643,0.342,0.649,0.242,0.000